<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        {% if app.user is not empty %}
            <a href="{{ path('logout') }}">Logout</a>
        {% else %}
            <a href="{{ path('login') }}">Login</a>
        {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
