{% extends '@CraynerAuthentication/base.html.twig' %}


{% form_theme form
    'form_div_layout.html.twig'
%}

{% block body %}
    <h3>Renew Password</h3>
    {{ form_start(form) }}
    {{ form_end(form) }}
    {{ parent() }}
{% endblock body %}

