{% extends '@CraynerAuthenticate/base.html.twig' %}

{% block body %}
    <h3>Reset Password Message</h3>
    {% if manager.result is same as('Existing') %}
        <p>This is a copy of a request made in the last 24 hours. It has been sent again to the email address on file for {{ manager.getUsername }}.  Please check you email to continue.</p>
    {% else %}
        <p>An email has been sent to the email address on file for {{ manager.getUsername }}.  Please check you email to continue.</p>
    {% endif %}
{{ parent() }}
{% endblock body %}

