<p>{{ manager.getUsername() }}</p>
<p>A password reset request has been made on the {{ app.request.server.get('HTTP_HOST') }} host.  The password has not been changed, but your can ignore this email and nothing will change, or if you initiated this request, please click the link to change your password.</p>
{% if manager.result is same as('Existing') %}
    <p>This is a copy of a request made in the last 24 hours.</p>
{% endif %}
{% set Uri = url('reset_password_by_token', {token: manager.getAuthenticateResetToken()}) %}
<p><a href="{{ Uri }}">{{ Uri }}</a></p>

